/*************************HEADER****************************/
body {
  font-family: "Borna", sans-serif;
  background-color: white;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
  padding-top: 7px;
}

.titre {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  text-align: center;
  color: #1124bb;
  font-size: 12px;
  padding-right: 22px;
}

.logo-etml img {
  width: auto;
  height: 57px;
  padding-left: 22px;
}
/**********************MAIN**************************/
main {
  display: flex;
  flex-direction: column;
}

.all {
  background-color: #f3efed;
  border-radius: 100px 0px 0px 0px;
  margin-left: 22px;
  margin-right: 22px;
  width: 1844px;
  height: 481px;
}

h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.choix-taille {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}
.choix-cocher {
  margin: 5px;
}

.flex-box {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  appearance: none;
  background-color: var(--form-background);
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]:checked {
  background-color: #0000ac;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: white;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.form-control {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control + .form-control {
  margin-top: 1em;
}

datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: horizontal-tb;
  width: 595px;
}
.mdp-texte {
  display: flex;
  position: relative;
}

.mdp-texte input {
  width: 1000px;
  border-radius: 18px;
  font-size: 40px;
  padding-left: 25px;
}

.mdp-buttons {
  display: flex;
  flex-direction: row;
  padding: 15px;
}
.buttons {
  display: flex;
  font-family: "Borna", sans-serif;
  margin-left: 10px;
  border-radius: 0 0 0 20px;
  border-color: #0000ac;
  background: #0000ac;
  color: white;
  font-size: 30px;
  width: 240px;
  height: 70px;
  cursor: pointer;
}
.liste-buttons {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
}
.buttons:hover {
  background: #3333dd;
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #0000ac;
  width: 600px;
  height: 10px;
  border-radius: 10px;
  margin: 0 auto;
  outline: 0;
}

/* EYE */
.password-icon {
  position: absolute;
  right: 20px;
  top: 23px;
}

.password-icon .eye-off {
  display: block; /* Afficher l'icône eye-off par défaut */
}

.password-icon .eye {
  display: none; /* Masquer l'icône eye par défaut */
}

.password-icon:hover {
  cursor: pointer;
  color: #0000ac;
}

.password-icon {
  position: absolute;
  right: 20px;
  top: 23px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #0000ac;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}
.boxChoix {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

h3 {
  display: flex;

  border-color: #0000ac;
  color: black;
  font-size: 30px;
}

.chiffres-slider {
  padding-top: 12px;
}

.password-icon:hover {
  border: #0000ac;
}

.password-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  width: 25px;
  color: black;
  transition: all 0.2s;
}

.message-box {
  display: flex;
  flex-direction: row;
}

#message {
  display: flex;
  background-color: aliceblue;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 25px;
  padding-bottom: 100px;
  color: #000;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 0px 40px;
  font-size: 18px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
/**********************FOOTER**************************/
footer {
  display: flex;
  flex-direction: row;
  background-color: #0000ac;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  justify-content: center;
  position: fixed;
  bottom: 4px;
  left: 40px;
  right: 40px;
}

.etml-credit a {
  text-decoration: none;
  color: white;
}

.team-credit a {
  color: white;
  text-decoration: none;
  padding-left: 4px;
}
