/*************************HEADER****************************/
body {
  font-family: "Borna", sans-serif;
  background-color: white;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
  padding-top: 7px;
}

.titre {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  text-align: center;
  color: #1124bb;
  font-size: 12px;
  padding-right: 40px;
}

.logo-etml img {
  width: auto;
  height: 57px;
  padding-left: 22px;
}

/**********************MAIN**************************/
main {
  display: flex;
  flex-direction: column;
}

.all {
  background-color: #f3efed;
  border-radius: 100px 0px 0px 0px;
  margin-left: 22px;
  margin-right: 22px;
  width: 1844px;
  height: 700px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-bottom: 10px;
}

.main-devs,
.main-tester {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-devs img,
.main-tester img {
  width: 140px;
  height: 160px;
  border-radius: 5%;
}

.info-gonzalo,
.info-thomas,
.info-samuel,
.info-CH,
.info-romain,
.info-fabre {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%; /* Ajustement pour avoir de la place pour tous les éléments */
  padding: 0px; /* Ajout de padding pour de l'espace */
  box-sizing: border-box; /* Pour s'assurer que les marges ne dépassent pas */
}

.main-tester {
  margin-top: 0px; /* Ajouté pour donner un peu d'espace après la section devs */
}

/**********************FOOTER**************************/
footer {
  display: flex;
  flex-direction: row;
  background-color: #f3efed;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 1050px 0px 0px 0px;
  justify-content: center;
  position: fixed;
  left: 25px;
  bottom: 0;
  right: 25px;
  margin: 0 4px;
  font-size: 30px;
  height: 90px;
}

.etml-retour a {
  text-decoration: none;
  color: #0000ac;
}

.etml-retour a:hover {
  cursor: pointer;
  color: #3333dd;
}

.team-retour a:hover {
  cursor: pointer;
  color: #3333dd;
}

.team-retour a {
  color: #0000ac;
  text-decoration: none;
  padding-left: 4px;
}
