* {
  font-family: "Borna", sans-serif;
}
/*************************HEADER****************************/
body {
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
}

.titre {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  text-align: center;
  color: #1124bb;
  font-size: 15px;
}

.logo-etml img {
  width: auto;
  height: 57px;
}
/**********************MAIN**************************/
main {
  display: flex;
  flex-direction: column;
}

/************BLOCK GRIS**********/
.all {
  background-color: #f3efed;
  border-radius: 100px 0px 0px 0px;
  width: auto;
  height: 540px;
  padding-left: 50px;
  padding-right: 50px;
}

/***********titre***********/
h2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 60px;
}

/*********box mdp*********/
.mdp-texte {
  display: flex;
  position: relative;
}

.mdp-texte input {
  border: 3px solid #0000ac;
  width: 1235px;
  height: 80px;
  border-bottom-left-radius: 20px;
  font-size: 30px;
  padding-left: 25px;
}
/**********eye************/
.password-icon .eye-off {
  display: block;
  padding-left: 7px;
}

.password-icon .eye {
  display: none;
  padding-left: 7px;
}

.password-icon .copy:hover {
  cursor: pointer;
  color: #0000ac;
}
.password-icon .eye:hover {
  cursor: pointer;
  color: #0000ac;
}

.password-icon .eye-off:hover {
  cursor: pointer;
  color: #0000ac;
}

.password-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 60px;
  color: black;
  transition: all 0.2s;
}
/*********button generer + hacher la viande **********/

.liste-buttons {
  display: flex;
  justify-content: space-around;
}
.generer:hover {
  background: #3333dd;
}
.hacher:hover {
  background: #3333dd;
  color: white;
}
.mdp-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
}
.generer {
  display: flex;
  margin-left: 10px;
  border-radius: 0 0 0 20px;
  border: 3px solid #0000ac;
  background: #0000ac;
  color: white;
  font-size: 30px;
  width: 240px;
  height: 85px;
  cursor: pointer;
}
.hacher {
  display: flex;
  margin-left: 10px;
  border-radius: 0 0 0 20px;
  border: 3px solid #0000ac;
  background: transparent;
  color: #0000ac;
  font-size: 30px;
  width: 240px;
  height: 85px;
  cursor: pointer;
}
/**********Longueur du mot de passe + numero (taille du slider) *****/
.taille {
  display: inline-block;
  margin-right: 20px;
  font-size: 30px;
}
h3 {
  display: flex;
  border-color: #0000ac;
  color: black;
  font-size: 30px;
}
.longueur-taille {
  display: flex;
  flex-direction: row;
  color: #0000ac;
}

.longueur-taille p {
  padding-left: 845px;
}
/*******slider + chiffres en bas *********/
input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #0000ac;
  width: 1270px;
  height: 10px;
  border-radius: 10px;
  margin: 0 auto;
  outline: 0;
}
#rangeValue {
  margin-left: 830px;
  display: inline-block;
  background-color: #0000ac; /* Couleur de fond */
  color: #f3efed; /* Couleur du texte */
  padding: 5px 10px; /* Ajout d’espace autour du texte */
  border-radius: 5px; /* Coins arrondis pour le carré */
  font-size: 30px; /* Taille de la police */
  font-weight: bold;
  text-align: center;
}

.chiffres-slider {
  padding-top: 10px;
}

datalist option[value="8"] {
  padding-left: 15px;
}
datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1270px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #0000ac;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}
/*********3 box pour cocher*********/

.choix-cocher {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin: 5px;
  margin-top: 40px;
}

.flex-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  appearance: none;
  background-color: var(--form-background);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]:checked {
  background-color: #f3efed;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #0000ac;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.form-control {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control + .form-control {
  margin-top: 1em;
}

/**************** Carrée des recommendations****************/

#message {
  display: flex;
  background-color: #0000ac;
  border-radius: 0px 0px 0px 100px;
  padding-bottom: 100px;
  color: white;
  padding: 20px;
  height: 130px;
  display: flex;
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#time-estimate {
  padding: 35px 0px;
  font-size: 20px;
  margin: 0%;
}

#message p {
  padding: 35px 35px;
  font-size: 20px;
  margin: 0%;
}

.valid {
  color: rgb(99, 255, 99);
}

.valid:before {
  position: relative;
  left: -5px;
  content: "✔";
}

.invalid {
  color: rgb(255, 64, 64);
}

.invalid:before {
  position: relative;
  left: -5px;
  content: "✖";
}

#phrase-recommendation {
  margin-top: 20px;
  font-size: 16px;
}

#password-strength {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.strong-password #password-strength {
  color: rgb(99, 255, 99);
  content: "Votre mot de passe est fort! Il faudrait des siècles pour craquer votre mot de passe!";
}

.weak-password #password-strength {
  color: rgb(255, 64, 64);
  content: "Votre mot de passe est faible! Il faudrait des minutes pour craquer votre mot de passe!";
}

/**********************FOOTER**************************/
footer {
  display: flex;
  flex-direction: row;
  background-color: #f3efed;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 1050px 0px 0px 0px;
  justify-content: center;
  position: fixed;
  left: 25px;
  bottom: 0;
  right: 25px;
  margin: 0 4px;
  font-size: 30px;
  height: 90px;
}

.etml-credit a {
  text-decoration: none;
  color: #0000ac;
}

.etml-credit a:hover {
  cursor: pointer;
  color: #3333dd;
}

.team-credit a:hover {
  cursor: pointer;
  color: #3333dd;
}

.team-credit a {
  color: #0000ac;
  text-decoration: none;
  padding-left: 4px;
}
